<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">
                          Listado de materiales
                      </h4>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col">
                      <app-grid #grid (onRowSelected)="rowSelected($event)"></app-grid>                        
                  </div>
                  <div class="col">
                      <h4 class="card-title">
                          Detalle
                      </h4>
                      <div class="form-group">
                          <label for="nombreTxt">Nombre</label>
                          <input class="form-control" type="text" id="nombreTxt" [(ngModel)]="selectedItem.nombre" maxlength="50"/>
                      </div>
                      <div class="form-group">
                          <label for="baseTxt">Base</label>
                          <input class="form-control" type="text" id="baseTxt" [(ngModel)]="selectedItem.base"/>
                      </div>
                      <div class="form-group">
                          <label for="alturaTxt">Altura</label>
                          <input class="form-control" type="text" id="alturaTxt" [(ngModel)]="selectedItem.altura"/>
                      </div>
                      <div class="form-group">
                          <label for="activoTxt">Activo</label>
                          <input type="checkbox" id="activoTxt" [(ngModel)]="selectedItem.activo"/>
                      </div>            
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title">Inventario</h4>
                              <div class="form-group">
                                  <label for="codigoInventarioTxt">Código</label>
                                  <input class="form-control" type="text" id="codigoInventarioTxt" [(value)]="selectedItem.codigoInventario"/>
                              </div>
                              <div class="form-group">
                                  <label for="costoInventarioTxt">Costo</label>
                                  <input class="form-control" type="text" id="costoInventarioTxt" [(value)]="selectedItem.costoInventario"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <div class="col-md-12">
                  <p style="text-align: right">
                      <button class="btn btn-primary" [disabled]="!isItemPopulated()" title="Nuevo" (click)="cancel()"><i class="fa fa-file-o" aria-hidden="true"></i></button>
                      <button class="btn btn-danger" [disabled]="!isItemPopulated()" title="Borrar" (click)="delete()"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      <button class="btn btn-primary" [disabled]="!isItemPopulated()" title="Guardar" (click)="save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>