<ng-template #nameTemplate let-r="result" let-t="term">  
  {{r.nombre}}
</ng-template>

<form class="form" #myForm="ngForm" novalidate>
  <div>
      <button class="btn btn-primary" [disabled]="infoProducto.invalid">Cotizar</button>
      <button class="btn btn-primary" [disabled]="myForm.invalid">Salvar</button>
  </div>
  <div class="form-group">            
    <label for="customerCb">Cliente</label>          
    <input class="form-control" #customerCb="ngModel" name="customerCb" type="text" [(ngModel)]="model.cliente" [ngbTypeahead]="searchCustomers" [inputFormatter]="nameFormatter" [resultTemplate]="nameTemplate" required validateSelection />
    <display-errors [control]="customerCb"></display-errors>
  </div>
  <div class="form-group">
    <label for="sellerCb">Vendedor</label>
    <input class="form-control" #sellerCb="ngModel" name="sellerCb" type="text" [(ngModel)]="model.vendedor" [ngbTypeahead]="searchSellers" [inputFormatter]="nameFormatter" [resultTemplate]="nameTemplate" required validateSelection />
    <display-errors [control]="sellerCb"></display-errors>
  </div>  
      
  <div class="form-group">
    <label for="lineCb">Línea</label>          
    <input class="form-control" #lineCb="ngModel" name="lineCb" type="text" [(ngModel)]="model.linea" [ngbTypeahead]="searchLines" [inputFormatter]="nameFormatter" [resultTemplate]="nameTemplate" required validateSelection />
    <display-errors [control]="lineCb"></display-errors>
  </div> 

  <div class="card">
    <div class=card-block ngModelGroup="infoProducto" #infoProducto="ngModelGroup">
      <h4 class="card-title">Datos de Producto</h4>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="form-group col-lg-12 col-md-12">
                <label for="materialCb">Material</label>          
                <input class="form-control" #materialCb="ngModel" name="materialCb" type="text" [(ngModel)]="model.material" [ngbTypeahead]="searchMaterials" [inputFormatter]="nameFormatter" [resultTemplate]="nameTemplate" required validateSelection />
                <display-errors [control]="materialCb"></display-errors>
              </div>                    
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">                       
                <div class="form-group">
                  <label for="baseTxt">Base</label>
                  <input class="form-control" #baseTxt="ngModel" type="text" name="baseTxt" [(ngModel)]="model.base" maxlength="50" required numericValidation />
                  <display-errors [control]="baseTxt"></display-errors>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">                 
                <div class="form-group">
                  <label for="alturaTxt">Altura</label>
                  <input class="form-control" type="text" #alturaTxt="ngModel" name="alturaTxt" [(ngModel)]="model.altura" maxlength="50" required />
                  <display-errors [control]="alturaTxt"></display-errors>
                </div>                    
              </div>
            </div> 
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="cantidadTxt">Cantidad</label>
                  <input class="form-control" type="text" #cantidadTxt="ngModel" name="cantidadTxt" [(ngModel)]="model.cantidad" maxlength="50" required/>
                  <display-errors [control]="cantidadTxt"></display-errors>
                </div>                          
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="tintasTxt">Tintas</label>
                  <input class="form-control" type="text" #tintasTxt="ngModel" name="tintasTxt" [(ngModel)]="model.tintas" maxlength="50" required />
                  <display-errors [control]="tintasTxt"></display-errors>
                </div>                          
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="cubrimientoTxt">Cubrimiento</label>
                  <input class="form-control" type="text" #cubrimientoTxt="ngModel" name="cubrimientoTxt" [(ngModel)]="model.cubrimiento" maxlength="50" required/>
                  <display-errors [control]="cubrimientoTxt"></display-errors>
                </div>                                      
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="montajeTxt">Montaje</label>
                  <input class="form-control" type="text" #montajeTxt="ngModel" name="montajeTxt" [(ngModel)]="model.montaje" maxlength="50" required />
                  <display-errors [control]="montajeTxt"></display-errors>
                </div>                                      
              </div>
            </div> 
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="cuatricromiaTxt">Cuatricromía</label>
                  <input class="form-control" type="text" #cuatricromiaTxt="ngModel" name="cuatricromiaTxt" [(ngModel)]="model.cuatricromia" maxlength="50" required />
                  <display-errors [control]="cuatricromiaTxt"></display-errors>
                </div>                                      
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="troquelTxt">Troquel</label>
                  <input class="form-control" type="text" #troquelTxt="ngModel" name="troquelTxt" [(ngModel)]="model.troquel" maxlength="50" required />
                  <display-errors [control]="troquelTxt"></display-errors>
                </div>                                                          
              </div>
            </div>                   
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="doblezTxt">Doblez</label>
                  <input class="form-control" type="text" #doblezTxt="ngModel" name="doblezTxt" [(ngModel)]="model.doblez" maxlength="50" required />
                  <display-errors [control]="doblezTxt"></display-errors>
                </div>                                      
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="otrosTxt">Otros</label>
                  <input class="form-control" type="text" name="otrosTxt" [(ngModel)]="model.otro" maxlength="50"/>
                </div>                  
              </div>
            </div>                                
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="observacionesTxt">Observaciones</label>
            <textarea class="form-control" name="observacionesTxt" [(ngModel)]="model.observacion" maxlength="50" rows="5"></textarea>
          </div>                  
        </div>
      </div>      
    </div>
  </div>

  <div class="card">
    <div class=card-block>
      <h4 class="card-title">Resultados</h4>
      
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 col-md-12">
            <h4 class="card-title">Precios</h4>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="materialTxt">Material</label>            
                    <input class="form-control" type="text" name="materialTxt" [(ngModel)]="model.precioMaterial" readonly/>
                  </div>                                                        
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="moldesTxt">Moldes</label>
                    <input class="form-control" type="text" name="moldesTxt" [(ngModel)]="model.precioMolde" readonly/>
                  </div>                                  
                </div>
              </div>               
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="solventesTxt">Solventes</label>
                    <input class="form-control" type="text" name="solventesTxt" [(ngModel)]="model.precioSolvente" readonly/>
                  </div>            
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="positivosTxt">Positivos</label>
                    <input class="form-control" type="text" name="positivosTxt" [(ngModel)]="model.precioPositivo" readonly/>
                  </div>            
                </div>
              </div>               
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="tintasTxt">Tintas</label>
                    <input class="form-control" type="text" name="tintasTxt" [(ngModel)]="model.precioTintas" readonly/>
                  </div>             
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="arteTxt">Arte</label>
                    <input class="form-control" type="text" name="arteTxt" [(ngModel)]="model.precioArte" readonly/>
                  </div>            
                </div>
              </div>               
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="impresionTxt">Impresión</label>
                    <input class="form-control" type="text" name="impresionTxt" [(ngModel)]="model.precioImpresion" readonly/>
                  </div>                      
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="corteTxt">Corte</label>
                    <input class="form-control" type="text" name="corteTxt" [(ngModel)]="model.precioCorte" readonly/>
                  </div>            
                </div>
              </div>                         
          </div>
          <div class="col-lg-6 col-md-12 d-flex flex-column align-items-stretch ">
            <h4 class="card-title">Division del Material</h4>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="rendimientoTxt">Rendimiento</label>            
                    <input class="form-control" type="text" name="rendimientoTxt" [(ngModel)]="model.rendimiento" readonly/>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="laminasTxt">Láminas</label>
                    <input class="form-control" type="text" name="laminasTxt" [(ngModel)]="model.laminas" readonly/>
                  </div>                                  
                </div>
              </div>              

              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="anchoTxt">Ancho</label>
                    <input class="form-control" type="text" name="anchoTxt" [(ngModel)]="model.divAncho" readonly/>
                  </div>                                  
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="largoTxt">Largo</label>
                    <input class="form-control" type="text" name="largoTxt" [(ngModel)]="model.divLargo" readonly/>
                  </div>                                   
                </div>                  
              </div>
              <div class="row mt-auto" >
                <div class="card-block">
                  <div class="col-lg-12">                                        
                    <div class="row">
                      <h4 class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left font-weight-bold">Costos</h4>
                      <h4 class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center font-weight-bold">Colones</h4>
                      <h4 class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right font-weight-bold">Dólares</h4>
                    </div>
                    <div class="row">
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">Subtotal:</span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">₡{{ model.subTotalCrc | number:'1.2-2'}} </span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">${{ model.subTotalUsd | number:'1.2-2'}}</span>
                    </div>
                    <div class="row">
                      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">Total:</span>
                      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">₡{{ model.totalCrc | number:'1.2-2'}} </span>
                      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">${{ model.totalUsd | number:'1.2-2'}}</span>
                    </div>                                                  
                  </div>
                </div>
              </div>
          </div>  
        </div> 
      </div>
    </div>
  </div>
</form>