<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <pie-chart></pie-chart>
  </div>
</div>

<!-- <div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                     title="dashboard.recent_quotes" baCardClass="traffic-panel medium-card">
    <recent-quotes></recent-quotes>
  </ba-card> 

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                     title="dashboard.quotes_by_line" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card> 
  
</div>-->
